#Folders Ignore
Bin/

#cmake ignore
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile/
*/test/*
!*/test/*.c
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Makefile

#yml
*.yml

#Compiled
*.a
*.o
*.lib
*.so
*.exe
*.dll

#Eclipse
.project
.cproject
language.settings.xml

#tcl
*.tcl

#stackdump
*.stackdump


/out/.vs/ctsa/v16
/out/src/ctsalib.dir/Debug
/out/x64/Debug
/test/Debug
/out/.vs
